version: '3'
services:
    web:
        image: mycn2:latest
        
        volumes:
            - .:/code
        ports:
            - 8000:8000
        depends_on:
            - db
    db:
        image: postgres:11
        environment:
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_USER=postgres
        volumes:
            - postgres_data:/var/lib/postgresql/data/
volumes:
    postgres_data:        
